section  img{
	float: left; 
	margin-right: 20px;
	
}

section {
	
	background-color: white;
	font-family; arial;
	font-size: 1.2em;
	display: none;
}

h2 {
 font-family: stalemate;
 font-size: 3.0em;
}

h1 {
	font-family: benchnine;
	font-size: 3.0em;
}

#myCarousel img {
	width: 50%;
	height: 50%;
	
}

#viestit {
	font-family: benchnine;
	font-size: 1.3em;
	border-top: 1px solid gray;
	
}

.span10 {
	
	margin-bottom: 5%;
}

