body {
	background-color: pink;
	font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
              }
			  
section {
    background-color: white;
    padding: 1em;
    width: 60%;
	border: 1px solid black;

    /* pyöreät kulmat -- useampi määrittely sillä tyylispesifikaatio vielä kesken */
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	font-size: 20px;
	display: none;
}

section h1 {
	color: rgb(66, 126, 120);
}

header nav ul {
    
    font-size: 25px;
    height: 40px;
    line-height: 30px;
    background-color: rgb(73, 69, 69);
	list-style-type: none;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	width: 60%;
	height: 50px;
}

header nav ul li {
    float: left; 
    display: inline; 
}

header nav ul li a {
    color: rgb(233, 229, 217);
    display: inline-block;
    text-decoration: none;
	padding: 9px 1.9em;
}

header nav ul li a:hover {
    background-color: pink;
    color: rgb(40, 40, 40);
	height: 50px;
	
}

